body {
    background: #59bdff;
    background: linear-gradient(to right, #ffffff, #ffffff);
}
.bg{
    background-image: url(/static/images/logo.png);
    background-size: contain;
    background-position: center center;
}
.texto{
    color: white;
    font-size: 40px; /* Aumenta el tamaño de letra */
    font-weight: bold; /* Pone el texto en negritas */
    text-align: center; /* Centra horizontalmente el texto */
    flex-grow: 1; /* Hace que el texto ocupe todo el ancho restante del contenedor */
}
.bg-color{
    background-color: #19465C;
}


.comment-box {
    width: 500px;
    margin-top: 50px;
}
.comment-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.comment-box input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
}
.comment-box input:focus {
    border: 1px solid #000;
    outline: 0;
}
.comment-box textarea {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
}
.comment-box textarea:focus {
    border: 1px solid #000;
    outline: 0;
}
.comment-box button {
    border: 0;
    padding: 10px 30px;
    background: #86b0b6;
    font-size: 18px;
    border-radius: 5px;
    color: #fff
}
.comment-box button:hover {
    background-color: #718a8e;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }

.comment-user {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.comment-fullname {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.comment-email {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #999;
  }
  
.comment-content {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
