<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DesdeElCieloFC</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  </head>
  <body>
    <!--NAV BAR-->
    <nav class="navbar navbar-expand-lg bg-color">
      <img src="/static/images/logo_fc.png" width="100px" height="100px" alt="Logo">
      <span class="texto">DesdeElCieloFC</span>
    </nav>
     <!-- CONTENIDO -->
     <div class = "container w-75 bg-primary mt-5 mb-5 rounded shadow">
      <div class="row align-items-lg-stretch">
          <!-- Primera columna -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/drALb0iG66k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
          </iframe>
          <!-- Segunda columna -->
          <div class="col bg-white p-5 rounded-end">
              <div class="text-end">
                  <img src="/static/images/logo.png" width="48" alt="">
              </div>

              <h2 class="fw-bold text-center py-5">Welcome to San Diego</h2>
              <!-- Login-->
              <div class="text-black-50">
                Welcome to San Diego, California - a beautiful coastal city known for its perfect weather, stunning beaches, and rich culture.

                With a population of over 1.43 million people, San Diego is the eighth largest city in the United States. It's a diverse and dynamic city, attracting visitors and residents from all over the world.

              </div>
          </div>
      </div>
  </div>
    <!-- FOOTER -->
    <div class="container-fluid">
      <div class="row p-5" style="background: linear-gradient(to right, #005b9f, #005b9f)">
        <div class="col-xs-12 pt-4">
          <p class="text-center">Copyright UNACH - Todos los derechos reservados ©2023 </p>
        </div>
      </div> 
    </div>


    <!--Boostrap Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>